{% extends 'base.html' %}

{% block content %}
  <h1>UPDATE</h1>
  <form action="{% url 'movies:update' movie.pk %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    {% comment %} <label for="title">Title: </label>
    <input type="text" name="title" id="title" value="{{ movie.title }}"><br>
    <label for="content">Content: </label>
    <textarea name="content" id="content">{{ movie.content }}</textarea> {% endcomment %}
    <input type="submit">
  </form>
  <hr>
  <a href="{% url 'movies:detail' movie.pk %}">[back]</a>
{% endblock content %}